/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v1/4h0R-wa-Vajx005RXDPfu44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn SC Bold'), local('VollkornSC-Bold'), url(https://fonts.gstatic.com/s/vollkornsc/v1/Z5Dv9CPxH7cf8GgVmzxuCIlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
/* Header Section*/
header{
  height: 4rem;
}
div.site-container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Mobile Header is not displayed on large screens*/
#mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;

}
@media screen and (max-width: 600px) {
  #mobile-header {
    display: flex;
  }
}
/* Desktop Header is not displayed smaller screens*/

#lion {
  padding-top: 1rem;
  padding-left: 1.5rem;
  float: left;
}
#title {
  float: left;
  padding-left: .5rem;
  padding-top: 1.5rem;
}
#colmar {
  font-family: Vollkorn SC, sans-serif;
  font-weight: 700;
}
#academy {
  font-family: Vollkorn SC, sans-serif;
  color: #808080
}
/*Padding between navigation anchors will shrink for tablets and anchors will have color changes in different states*/
#navigation {
  padding-top: 1.5rem;
  float: right;
}
nav {
  padding-right: 0.5rem;

}
nav a {
  padding-right: 1rem;
  transition: all 0.5s linear 0.15s;
}
nav a:link {
  color: #1A95A8;
}
nav a:hover {
  text-decoration: underline;
  color: #E04211;
}
nav a:visited {
  color: #7C0402;
}
@media screen and (max-width: 600px) {
  #desktop-header {
    display: none;
  }
}
/* Section 1 -- Banner Section--*/
#section-1  {
  background-color: #FFE8DD;
  }
  .section-1-container {
    display: flex;
  }
#s1-image {
  width: 60%;
  margin: 1.5rem 2rem;
}
#s1-image img{
  width: 100%;
}
#s1-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  width: 40%;
}
#s1-text h1 {
  font-size: 2.5rem;
  font-family: Vollkorn SC, sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px #808080;
}
#s1-text p {

  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 3rem;
  margin-top: 1rem;
}
#s1-text a {
  color: white;
  text-align: center;
  width: 100%;
  background-color: gray;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
  transition: all 0.25s ease-out;
}
#s1-text a:hover {
  color: #EF5007;
  background-color: #013A84;
}
/*Banner Section changes for small screens*/
@media screen and (max-width: 760px) {
  .section-1-container {
    flex-direction: column;
    align-items: center;
  }
  #s1-image  {
    width: 100%;
  }
  #s1-text {
    width: 100%;
    margin-left: 3rem;
  }
  #s1-text h1 {
    margin-left: 1rem;
  }
  #s1-text p {
    margin-left: 1rem;
  }
}
/* Section 2 is information section with left and right divisions. Left division does not display on small screens*/
.section-2-container {
  display: flex;
  margin: 2rem 1.5rem;
}
/* Section 2 Left */
#section-2-left {
  width: 60%;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
#section-2-left img {
  width: 95%;
  margin-right: 1.5rem;
}
#section-2-left h2 {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: Vollkorn SC, sans-serif;
  font-weight: 700;
}
#section-2-left p {
  width: 95%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: Raleway, sans-serif;
}
#section-2-left span{
  font-family: Vollkorn SC, sans-serif;
}
#section-2-left a {
  color: #013A84;
}

@media screen and (max-width: 760px) {
  #section-2-left {
    display: none;
  }
}
/* Section 2 Right */
#section-2-right {
  width: 40%;
}
.information-container {
display: flex;
margin: 1rem;
height: 30%;
}
.information-container:hover {
  background-color: #FFE8DD;
}
.info-image-2 {
  display: none;
}
.info-image {
  width: 35%;
}
.info-image img {

  width:100%;
  height: auto;
  margin-top: 1rem;
}
.s2-right-column {

  padding: 1rem;
  width: 65%
}
.s2-right-column h3 {
  margin-bottom: .5rem;
  font-family: Vollkorn SC, sans-serif;
  font-size: 1.5rem;
}
.s2-right-column span {
 font-family: Raleway, sans-serif;
 display: block;
}
.s2-right-column a {
  color: #013A84;
  display: block;
  margin-top: .5rem;
}
/* Section 2 style chages for small screen */
@media screen and (max-width: 760px) {
  .info-image {
    display: none;
  }
  .info-image-2 {
    display: block;
  }
  .info-image-2 img {
    width: 100%;

  }
  #section-2-right {
    width: 100%;
  }
  .information-container {
    flex-direction: column;
    align-items: center;
  }
  .s2-right-column {
    width: 100%;
  }
  .section-2-container {
    margin: 0 auto;
  }
}

/* Section 3 mobile display with active buttons */
#section-3-header h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: Vollkorn SC, sans-serif;
  font-weight: 700;
}
#course-list-mobile {
  display: none;

}
@media screen and (max-width: 760px) {
  #course-list-mobile {
    display: block;

  }
}

.software-engineering {
  position:relative;
  right: 100%;
  width: 200%;
  display:flex;


}
.software-engineering:active  {
  right: 0%;
  left: 0%;
}
#s-e-left {
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #013A84;
  width: 50%;
  z-index: 1;
}
#s-e-left img {
  margin-top: 1rem;
  width: 50%;
}
#s-e-left h3 {
  color: #808080;
  font-size: 1.5rem;
  font-family: Vollkorn SC, sans-serif;
  margin-bottom: 0.5rem;
}
#s-e-left h4 {
  margin-bottom: 0.5rem;
}
#s-e-right {
  background-color: #013A84;
  width: 50%;
}
#s-e-right h3 {
  color: #808080;
  font-size: 1.5rem;
  font-family: Vollkorn SC, sans-serif;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
@media screen and (max-width: 600px) {
  #s-e-right h3 {
    padding-left: 1.5rem;
    text-align: left;
  }
}
.c-l-m-container {
  position:relative;
  right: 100%;
  bottom: 202px;
  width: 200%;
  display:flex;
}
@media screen and (max-width: 700px) {
  .c-l-m-container {
    bottom: 180px;
  }
}
@media screen and (max-width: 610px) {
    .c-l-m-container {
      bottom: 160px;
    }
  }
@media screen and (max-width: 532px) {
    .c-l-m-container{
      bottom: 140px;
    }
}
@media screen and (max-width: 450px) {
    .c-l-m-container{
      bottom: 120px;
    }
}
@media screen and (max-width: 375px) {
    .c-l-m-container{
      bottom: 120px;
    }
}
@media screen and (max-width: 316px) {
    .c-l-m-container{
      bottom: 90px;
    }
}

.c-l-m-container:active {
  right: 0%;
  left: 0%;
}
.c-l-m-left {
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #013A84;
  width: 50%;
  z-index: 1;
}
.c-l-m-left img {
  margin-top: 1rem;
  width: 50%;
}
.c-l-m-left h3 {
  color: #808080;
  font-size: 1.5rem;
  font-family: Vollkorn SC, sans-serif;
  margin-bottom: 0.5rem;
}
.c-l-m-left h4 {
  margin-bottom: 0.5rem;
}
.c-l-m-right {
  background-color: #013A84;
  width: 50%;
}
.c-l-m-right h3 {
  color: #808080;
  font-size: 1.5rem;
  font-family: Vollkorn SC, sans-serif;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
@media screen and (max-width: 600px) {
  .c-l-m-right h3 {
    padding-left: 1.5rem;
    text-align: left;
  }
}
.c-l-m-container-2 {
  position:relative;
  right: 100%;
  bottom: 404px;
  width: 200%;
  display:flex;
}
@media screen and (max-width: 700px) {
  .c-l-m-container-2 {
    bottom: 370px;
  }
}
@media screen and (max-width: 610px) {
    .c-l-m-container-2 {
      bottom: 330px;
    }
  }
@media screen and (max-width: 532px) {
    .c-l-m-container-2{
      bottom: 295px;
    }
}
@media screen and (max-width: 450px) {
    .c-l-m-container-2{
      bottom: 255px;
    }
}
@media screen and (max-width: 375px) {
    .c-l-m-container-2{
      bottom: 250px;
    }
}
@media screen and (max-width: 316px) {
    .c-l-m-container-2{
      bottom: 210px;
    }
}

.c-l-m-container-2:active {
  right: 0%;
  left: 0%;
}
.c-l-m-container-3 {
  position:relative;
  right: 100%;
  bottom: 604px;
  width: 200%;
  display:flex;
}
@media screen and (max-width: 700px) {
  .c-l-m-container-3 {
    bottom: 540px;
  }
}
@media screen and (max-width: 610px) {
    .c-l-m-container-3 {
      bottom: 490px;
    }
  }
@media screen and (max-width: 532px) {
    .c-l-m-container-3{
      bottom: 435px;
    }
}
@media screen and (max-width: 450px) {
    .c-l-m-container-3{
      bottom: 375px;
    }
}
@media screen and (max-width: 375px) {
    .c-l-m-container-3{
      bottom: 365px;
    }
}
@media screen and (max-width: 316px) {
    .c-l-m-container-3{
      bottom: 310px;
    }
}

.c-l-m-container-3:active {
  right: 0%;
  left: 0%;
}
.c-l-m-container-4 {
  position:relative;
  right: 100%;
  bottom: 804px;
  width: 200%;
  display:flex;
}
@media screen and (max-width: 700px) {
  .c-l-m-container-4 {
    bottom: 710px;
  }
}
@media screen and (max-width: 610px) {
    .c-l-m-container-4 {
      bottom: 650px;
    }
  }
@media screen and (max-width: 532px) {
    .c-l-m-container-4{
      bottom: 575px;
    }
}
@media screen and (max-width: 450px) {
    .c-l-m-container-4{
      bottom: 495px;
    }
}
@media screen and (max-width: 375px) {
    .c-l-m-container-4{
      bottom: 460px;
    }
}
@media screen and (max-width: 316px) {
    .c-l-m-container-4{
      bottom: 405px;
    }
}

.c-l-m-container-4:active {
  right: 0%;
  left: 0%;
}
.c-l-m-container-5 {
  position:relative;
  right: 100%;
  bottom: 1004px;
  width: 200%;
  display:flex;
}
@media screen and (max-width: 700px) {
  .c-l-m-container-5 {
    bottom: 880px;
  }
}
@media screen and (max-width: 610px) {
    .c-l-m-container-5 {
      bottom: 810px;
    }
  }
@media screen and (max-width: 532px) {
    .c-l-m-container-5{
      bottom: 715px;
    }
}
@media screen and (max-width: 450px) {
    .c-l-m-container-5{
      bottom: 615px;
    }
}
@media screen and (max-width: 375px) {
    .c-l-m-container-5{
      bottom: 575px;
    }
}
@media screen and (max-width: 316px) {
    .c-l-m-container-5{
      bottom: 500px;
    }
}

.c-l-m-container-5:active {
  right: 0%;
  left: 0%;
}
