html {
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto;
}
/* Header Section*/
header{
  height: 4rem;
}
div.site-container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Mobile Header is not displayed on large screens*/
#mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;

}
@media screen and (max-width: 480px) {
  #mobile-header {
    display: flex;
  }
}
/* Desktop Header is fixed and display changes on smaller screens*/
#desktop-header {
position: fixed;

}
#lion {
  padding-top: 1rem;
  padding-left: 1.5rem;
  float: left;
}
#title {
  float: left;
  padding-left: .5rem;
  padding-top: 1.5rem;
}
#colmar {
  font-weight: bold;
}
#academy {
  color: #808080
}
/*Padding between navigation anchors will shrink for tablets and anchors will have color changes in different states*/
#navigation {
  padding-top: 1.5rem;
  float: right;
}
nav {
  padding-right: 0.5rem;

}
nav a {
  padding-right: 1rem;
  transition: color 0.5s linear 0.15s;
}
